
/*========================================*\
    $COLORS
\*========================================*/

$color-black: #333 !default;
$color-white: #fff !default;

/*========================================*\
    $TYPOGRAPHY
\*========================================*/

$base-font-size: 16 !default;
$base-line-height: 1.5 !default;

/*========================================*\
    $BREAKPOINTS
\*========================================*/

// Reference: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862

$bp-small:  600  !default;   // at-min: table-portrait, at-max: phone
$bp-medium: 900  !default;   // at-min: tablet-landscape
$bp-large:  1200 !default;   // at-min: desktop
$bp-huge:   1800 !default;   // at-min: hd or tv

/*========================================*\
    $SPACING
\*========================================*/

$spacing-base: 1rem !default;

/**
 * All spacing values come as multiples from base spacing value.
 * Name of each variable (and utility class) should match multipier value.
 */

$spacing-0-25: $spacing-base * 0.25; // 4px
$spacing-0-5: $spacing-base * 0.5;   // 8px
$spacing-1: $spacing-base * 1;       // 16px
$spacing-2: $spacing-base * 2;       // 32px
